<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.motorola.camera2" platformBuildVersionCode="25" platformBuildVersionName="7.1.1">
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <uses-feature android:name="com.motorola.camera2"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
,
<uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.motorola.camera.permission.CONTROL_CAMERA"/>
    <uses-permission android:name="com.motorola.permission.ACCESS_CHECKIN"/>
    <uses-permission android:name="com.motorola.permission.CAMERA_DUMP"/>
    <uses-permission android:name="com.motorola.permission.GET_ZEN_MODE_CONFIG"/>
    <uses-permission android:name="com.motorola.permission.SET_ZEN_MODE_CONFIG"/>
    <uses-permission android:name="com.motorola.mod.permission.MOD_ACCESS_INFO"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <permission android:description="@string/perm_control_camera_desc" android:label="@string/perm_control_camera_label" android:name="com.motorola.camera.permission.CONTROL_CAMERA" android:protectionLevel="signatureOrSystem"/>
    <meta-data android:name="android.support.VERSION" android:value="25.3.0"/>
    <application android:allowBackup="false" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher_camera" android:label="@string/act_name_camera" android:logo="@mipmap/ic_launcher_camera" android:name="com.motorola.camera.CameraApp" android:resizeableActivity="false" android:supportsRtl="true" android:theme="@style/CameraAppTheme">
        <activity android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|screenSize" android:exported="true" android:icon="@mipmap/ic_launcher_camera" android:label="@string/act_name_camera" android:launchMode="singleTask" android:name="com.motorola.camera.Camera" android:screenOrientation="nosensor" android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.motorola.activity.AnimInLaunchDisabled" android:value="true"/>
            <meta-data android:name="com.android.keyguard.layout" android:resource="@layout/keyguard_layout"/>
            <meta-data android:name="com.android.keyguard.layout_one_or_less_camera" android:resource="@layout/keyguard_layout"/>
        </activity>
        <activity-alias android:enabled="true" android:exported="true" android:icon="@mipmap/ic_launcher_camera" android:label="@string/act_name_camcorder" android:name="com.motorola.camera.Camcorder" android:targetActivity="com.motorola.camera.Camera">
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:excludeFromRecents="true" android:icon="@mipmap/ic_launcher_camera" android:label="@string/act_name_camera" android:name="com.motorola.camera.Secure" android:targetActivity="com.motorola.camera.Camera">
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE_SECURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA_SECURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.keyguard.layout" android:resource="@layout/keyguard_layout"/>
            <meta-data android:name="com.android.keyguard.layout_one_or_less_camera" android:resource="@layout/keyguard_layout"/>
        </activity-alias>
        <receiver android:exported="true" android:name="com.motorola.camera.CameraIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.CAMERA_BUTTON"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA_SECURE"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.motorola.camera.MediaControlReceiver" android:permission="com.motorola.camera.permission.CONTROL_CAMERA">
            <intent-filter>
                <action android:name="motorola.camera.intent.action.TAKE_PICTURE"/>
                <action android:name="motorola.camera.intent.action.TAKE_SELFIE"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.motorola.camera.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.motorola.camera.MotoActionsReceiver">
            <intent-filter>
                <action android:name="com.motorola.actions.tutorial.QUICKDRAW_SUCCESS"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="false" android:exported="true" android:name="com.motorola.camera.SimStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SIM_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.motorola.camera.LandmarkDownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.motorola.camera.LandmarkUpdateService"/>
        <provider android:authorities="com.motorola.camera2.provider.photos.specialtype" android:enabled="true" android:exported="true" android:name="com.motorola.camera.provider.photos.PhotosProvider"/>
        <provider android:authorities="com.motorola.camera2.FileProvider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_provider_paths"/>
        </provider>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.wearable.beta.app" android:resource="@xml/android_wear_micro_apk"/>
    </application>
</manifest>